body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:197px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:42px;
  width:209px;
  height:197px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:70px;
  width:114px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:123px;
  width:184px;
  height:16px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
