body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:733px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:85px;
  width:687px;
  height:180px;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:0px;
  width:229px;
  height:30px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:0px;
  width:229px;
  height:30px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:229px;
  height:30px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:30px;
  width:229px;
  height:30px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:30px;
  width:229px;
  height:30px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:229px;
  height:30px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:60px;
  width:229px;
  height:30px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:60px;
  width:229px;
  height:30px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:229px;
  height:30px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:90px;
  width:229px;
  height:30px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:90px;
  width:229px;
  height:30px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:229px;
  height:30px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:120px;
  width:229px;
  height:30px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:120px;
  width:229px;
  height:30px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:229px;
  height:30px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:150px;
  width:229px;
  height:30px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:150px;
  width:229px;
  height:30px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:18px;
  width:140px;
  height:40px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:93px;
  width:14px;
  height:16px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:125px;
  width:14px;
  height:16px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:157px;
  width:14px;
  height:16px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:184px;
  width:14px;
  height:16px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:214px;
  width:14px;
  height:16px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:242px;
  width:14px;
  height:16px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:18px;
  width:140px;
  height:40px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
